---
import Layout from "../layouts/Layout.astro";
import Form from "../components/Form/Form";
---

<Layout>
  <div class="content" slot="body">
    <div class="text">
      <p>Let's work together!</p>
      <p>You can reach me via email at:</p>
      <p><a href="mailto:antoine.ando@gmail.com">antoine.ando@gmail.com</a></p>
      <br />
      <p class="desktop">Or you can use the form aside</p>
      <p class="mobile">Or you can use the form below</p>
    </div>
    <Form client:load />
  </div>
</Layout>

<script>
  const tx = document.getElementsByTagName("textarea")[0];

  // Min-height 100
  const height = tx.scrollHeight > 100 ? tx.scrollHeight : 100;
  tx.setAttribute("style", "height:" + height + "px;overflow-y:hidden;");
  tx.addEventListener("input", OnInput, false);

  function OnInput() {
    tx.style.height = "0";
    const height = tx.scrollHeight > 100 ? tx.scrollHeight : 100;
    tx.style.height = height + "px";
  }
</script>

<style lang="scss">
  .content {
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: 20px;
    justify-items: center;

    @media (max-width: 900px) {
      grid-template-columns: 1fr;
    }

    .text {
      padding-block: 40px;
      line-height: 1.4em;
      font-size: 1.1em;

      a {
        color: black;
      }

      .mobile {
        display: none;
        @media (max-width: 900px) {
          display: block;
        }
      }
      .desktop {
        display: block;
        @media (max-width: 900px) {
          display: none;
        }
      }
    }

    .row {
      display: flex;
      gap: 1rem;
    }

    .col {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
</style>
