---
import { ViewTransitions } from "astro:transitions";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head slot="head">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <ViewTransitions />
    <slot name="head" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="/" class="home" rel="prefetch">Antoine Ando</a>
          </li>
          <li>
            <a href="/about" rel="prefetch">About</a>
          </li>
          <li>
            <a href="/contact" rel="prefetch">Contact</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <slot name="body" />
    </main>
    <style lang="scss">
      @font-face {
        font-family: "SpaceMonoBold";
        src: url("/SpaceMono-Bold.ttf");
      }

      @font-face {
        font-family: "SpaceMono";
        src: url("/SpaceMono-Regular.ttf");
      }

      body {
        margin: 0;
        // height: 100vh;
        display: grid;
        grid-template-rows: auto 1fr;
        background-image: url("/graindient.svg");
        background-size: cover;
        background-repeat: no-repeat;
        // background-attachment: fixed;
        font-family: "SpaceMono";
        padding: 3rem;
        gap: 1rem;

        @media (max-width: 600px) {
          padding: 2rem;
        }

        header {
          background-color: white;
          position: sticky;

          nav {
            padding: 0;
            font-size: 1em;

            @media (max-width: 600px) {
              font-size: 0.8em;
            }

            ul {
              text-decoration: none;
              margin: 0;
              display: flex;
              gap: 1rem;
              margin: 1rem;
              align-items: flex-end;

              @media (max-width: 600px) {
                flex-direction: row;
                flex-wrap: wrap;
              }

              li {
                // display: flex;
                // align-items: center;
                // height: 4rem;
                position: relative;

                &:has(.home) {
                  @media (max-width: 600px) {
                    width: 100%;
                  }
                }

                a {
                  text-decoration: none;
                  color: inherit;
                  font-size: 1.5em;
                  position: relative;

                  &.home {
                    font-size: 2em;
                    font-family: "SpaceMonoBold";
                    width: 500px;
                  }

                  &:hover:before {
                    width: 100%;
                    transition: width 0.1s linear;
                  }

                  &:before {
                    content: "";
                    position: absolute;
                    bottom: -3px;
                    right: 0;
                    left: 0;
                    margin: auto;
                    height: 2px;
                    width: 0%;
                    background-color: black;
                    transition: width 0.1s linear;
                  }
                }
              }
            }
          }
        }

        main {
        }
      }
    </style>
  </body>
</html>
